body {
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 24px;
    font-style: italic;
    color: #ffd369;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #ffc742;
    text-decoration-thickness: 4px;
}

html {
    font-family: 'Sarabun', sans-serif;
    background-color: #393e46;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    padding: 0px;
    margin: 0px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 8px;
}

nav li a {
    color: #ffd369;
    text-decoration: none;
}

nav li a:hover {
    color: #ffd369;
    text-decoration: underline;
    text-underline-offset: 8px;
}

p {
    color: #eeeeee;
    text-align: justify;
}

.footerCopyrights {
    display: block;
    text-align: center;
    padding-top: 1;
    color: #222831;
}